.aa {
    fill: rgb(191,29,64);
}
.ah {
    fill: rgb(255,242,89);
}
.ao {
    fill: rgb(120,63,4);
}
.ay {
    fill: rgb(0,153,206);
}
.er {
    fill: rgb(225,124,167);
}
.ey {
    fill: rgb(0,108,169);
}
.iu {
    fill: rgb(244,190,127)
}
.ul {
    fill: rgb(221,76,54);
}
.ch {
    fill: rgb(0,68,51);
}
.f {
    fill: rgb(130,101,27);
}
.jh {
    fill: rgb(152,199,102);
}
.weird {
    fill: rgb(110,120,172);
}
.silent {
    fill: rgb(255,255,255);
}