td {
  width: 40px;
  height: 40px;
}

html, body {
  width:  100%;
  height: 100%;
  margin: 0px;
}

ul {
  display: inline-block;
  font-size: 7vmin;
  padding-left: 14vmin;
}

li.found {
  text-decoration: line-through;
}

div#canvasContainer {
  width: 100%;
  display: inline-block;
}

 @media (min-aspect-ratio: 1/1) {
   ul {
    font-size: 4vmin;
    padding-left: 7vmin;
   }
   
   div#canvasContainer {
    width: 50%;
  }
}